.liveGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: min-content;
  grid-gap: 2rem;
  padding: 2rem 3rem;
  background-color: #f1f5f9;
  min-height: calc(100vh - 3.5rem);
}

.record {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
  filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
}

.record .failed {
  color: #ef4444;
}

.record .entering {
  color: #10b981;
}

.record .exiting {
  color: #3b82f6;
}

.record p {
  white-space: pre-wrap;
}
